<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--
  IMPORTANT:
  Everyone must create and work on DrinkDB_Dev database.
  Replace Server=(localdb)\ProjectModels with:
    - Local SQL Server: localhost\SQLEXPRESS or your instance name
    - Docker SQL Server: localhost,1433 (or your exposed port)
-->

		<add name="DrinkDbConnection"
			 connectionString="Data Source=VM;Initial Catalog=DrinkDB_Dev;Integrated Security=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>