<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--
      IMPORTANT:
      Everyone must create and work on DrinkDB_Dev database.
      Replace Server=(localdb)\ProjectModels with:
        - Local SQL Server: localhost\SQLEXPRESS or your instance name
        - Docker SQL Server: localhost,1433 (or your exposed port)
    -->
		<add name="DrinkDbConnection"
			 connectionString="Data Source=VM;Initial Catalog=DrinkDB_Dev;Integrated Security=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Google OAuth credentials -->
		<add key="GoogleClientId" value="311954949107-k5agbsvuvrsuttupcu7av2lceuk4vlag.apps.googleusercontent.com" />
		<add key="GoogleClientSecret" value="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" />

		<!-- Twitter OAuth credentials -->
		<add key="TwitterClientId" value="ODVNN2VYRGR4ZWNfcm9LQnlzS2Q6MTpjaQ" />
		<add key="TwitterClientSecret" value="B7eMoprWDmTGzsYz-3kK8Hsqpc5oJ4i4Gt9tjqtFb73J5dBQyz" />
	</appSettings>
</configuration>
